[submodule "public"]
	path = public
	url = git@github.com:SEKIRO-J/SEKIRO-J.github.io.git
	branch = master
[submodule "themes/galaxy"]
	path = themes/galaxy
	url = git@github.com:SEKIRO-J/galaxy.git
	branch = master

[submodule "content/post"]
        path = content/post
        url = git@github.com:SEKIRO-J/BlogNotes.git
        branch = master
